---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-magic-numbers

WarningsAsErrors: "*"
HeaderFilterRegex: "include/.*"
FormatStyle: "file"
